RENSOF_ADMIN_USER=admin
RENSOF_ADMIN_PASSWORD=admin123
RENSOF_SESSION_SECRET=change-this-in-production

ALVENT_FRONTEND_ORIGIN=https://www.rensof.pe
ALVENT_FRONTEND_BASE_PATH=/alven/app

ALVENT_BACKEND_ORIGIN=https://alvent-backend.onrender.com
